
/**********************FORMATO PRODUCTCONTROLLERS.JS***************************


/*incono lupa y nuevo producto*/
.nuevoProducto, .lupa, .persona, .personaLogout {
    color: rgb(177, 143, 210);
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.nuevoProducto {
    position: absolute;
    right: 70px;
}

.personaLogout {
    border: none;
    background-color: white;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.lupa {
    margin-left: 1300px;
    position: relative;
    top: -.5px;
}

.material-icons {
    position: relative;
    top: 5px;
}

.containerSuperior{
    width: 1500px;
    display: flex;
}

.searchInput, .searchBtn {
    position: relative;
    left: 1300px;
    color: rgb(177, 143, 210);
    font-weight: bolder;
}

.searchInput {
    border-radius: 10px;
    border-color: rgb(61, 61, 61);
    bottom: 60px;
    width: 120px;
}

.searchBtn {
    border: none;
    background-color: white;
    cursor: pointer;
    bottom: 50px;
    padding: 0
}

/*quitar los puntos de la lista Productos,Camisetas,Pantalones,Zapatos,Accesorios,Login*/
.nav1{
    list-style-type:none;
}

/*Formato categorías navegador Productos,Camisetas,Pantalones,Zapatos,Accesorios,Login*/
.navigation{
    align-items: center;
    font-size: 17px;
    color: rgb(61, 61, 61);
    font-family: "Futura", sans-serif;
    text-decoration: none;
    margin-right: 35px;
}

/*formato contenedor barra navegador*/
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(219, 205, 233);   
    height: 35px;
    position: relative;
    top: 60px;

} 

/*formato contenedor detalles producto (imagen, nombre, precio)*/
.productCard{
    background-color: rgb(245, 241, 249); 
}

/*formato imagenes productos*/
.productImagen{
    height: 220px;
    width: 200px;
    margin-top: 40px;
}

/*formato nombre productos*/
.productNombre{
    color: rgb(61, 61, 61);
    font-family: "Futura", sans-serif;
    font-size: 19px;
    margin-top: 0px;
    margin-left: 50px;
}
/*formato descripción y precio productos*/
.productDescripcion, .productPrecio, .productTalla{
    color: rgb(61, 61, 61);
    font-family: "Futura", sans-serif;
    font-size: 15px;

}

/*formulario para crear producto*/
.formCreateProduct{
    font-family: "Futura", sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 10px;
}

/*formulario para editar producto*/
.formEditProduct{
    font-family: "Futura", sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    
}

/*botón enviar y eliminar producto así como registrar*/
.newProductBtn,.editProductBtn, .btnEliminar, .btnEditar { 
    border-radius: 5px;
    background-color: rgb(219, 205, 233); 
    font-family: "Futura", sans-serif;
    font-size: 13px; 
    margin-bottom: 20px;
    width: 200px;
}

.verDetalle{
    font-family: "Futura", sans-serif;
    font-size: 15px; 
    margin-left: 80px;
    width: 200px;
    color: rgb(173, 116, 231);
}

/*enlace ver detalle y editar producto*/
.editar{ 
    font-family: "Futura", sans-serif;
    font-size: 13px; 
}

/**********************FORMATO AUTHCONTROLLERS.JS****************************

/*formato contenedor formulario registro, login y logout*/
.register, .login, .logout{
    font-family: "Futura", sans-serif;
    font-size: 15px;
    color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}

/*formato campo para introducir mail y contraseña*/
.email, .password{
    width: 220px;
    margin-bottom: 15px;
}

/*formato botones login y register*/
.loginButton, .registerButton{
    border-radius: 5px;
    background-color: rgb(219, 205, 233); 
    font-family: "Futura", sans-serif;
    font-size: 13px; 
    width: 120px;
}

/*Título iniciar sesión*/
h2{
    font-family: "Futura", sans-serif;
    font-size: 17px;
    color: rgb(84, 84, 84);
}

/*¿todavía no tienes una cuenta?*/
h3{
    font-family: "Futura", sans-serif;
    font-size: 13px; 
    color: rgb(84, 84, 84);
}

/*formato ¡regístrate!*/
.register{
    font-family: "Futura", sans-serif;
    font-size: 14px; 
    color: rgb(81, 9, 149); 
}





