

/*Formato categorías navegador Productos,Camisetas,Pantalones,Zapatos,Accesorios,Login*/
.navigation{
    align-items: center;
    font-size: 17px;
    color: rgb(61, 61, 61);
    font-family: "Futura", sans-serif;
    text-decoration: none;
    margin-right: 35px;
}

/*quitar los puntos de la lista Productos,Camisetas,Pantalones,Zapatos,Accesorios,Login*/
.nav1{
    list-style-type:none;
}

/*formato contendor barra navegador*/
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(219, 205, 233);   
} 

/*contenedor detalles producto (imagen, nombre, precio)*/
.product-card{
    background-color: rgb(245, 241, 249); ;
}

/*imagenes productos*/
.productImagen{
    height: 220px;
    width: 200px;
}

.productNombre{
    color: rgb(61, 61, 61);
    font-family: "Futura", sans-serif;
    font-size: 19px;
}










